<!-- The add artist form. First renders the display_artist artist table above. 
    Displays form errors (if there are errors) on top of the form, then renders the form
    Any errors that are tied to a specific form field are displayed with that field.  -->

{% extends "display_artists.html" %}
{% block add_artist %}  
    <form method="POST" action="">
    {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add an Artist</legend>
            <div>
                {{ form.name.label() }}
                {% if form.name.errors %}
                    {{form.name()}}
                    <div>
                        {% for error in form.name.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name() }}
                {% endif %}
            </div>
            <div>
                {{ form.email_address.label() }}
                {% if form.email_address.errors %}
                    {{form.email_address()}}
                    <div>
                        {% for error in form.email_address.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.email_address() }}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit(class_="btn") }}
        </div>
   </form>  
{% endblock add_artist %}  
