<!-- The add artwork form. First renders the display_art art table above. 
    Displays form errors (if there are errors) on top of the form, then renders the form
    Any errors that are tied to a specific form field are displayed with that field.  -->

{% extends "display_art.html" %}
{% block add_art %}  
    <form method="POST" action="">
    {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add an Artwork</legend>
            <div>
                {{ form.name.label() }}
                {% if form.name.errors %}
                    {{ form.name() }}
                    <div>
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name() }}
                {% endif %}
            </div>
            <div>
                {{ form.artist.label() }}
                {% if form.artist.errors %}
                    {{ form.artist() }}
                    <div>
                        {% for error in form.artist.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.artist() }}
                {% endif %}
            </div>
            <div>
                {{ form.price.label() }}
                {% if form.price.errors %}
                    {{ form.price() }}
                    <div>
                        {% for error in form.price.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>

            {% else %}
                {{ form.price() }}
            {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit(class_="btn") }}
        </div>
   </form>  
{% endblock add_art %}  
