{% extends "layout.html" %}
{% block content %}  
    <table>
        <tr>
            <th>Artwork ID</th>
            <th>Artwork Name</th>
            <th>Artist</th>
            <th>Price</th>
            <th>Availability</th>
        </tr>
        {% for art in art_list %}
            <tr>
                <td>{{art.id}}</td>
                <td>{{art.name}}</td>
                <td>{{art.artist}}</td>
                <td>${{art.price}}</td>
                {% if art.available == True %}
                    <td>Available</td>
                {% else %}
                    <td>Unavailable</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table> 
    {% block add_art %}{% endblock add_art %}
{% endblock content %}  
