<!--Template for the art table. 
    On bottom is second form, to monitor the delete and change buttons.
    When a checkbox is clicked, it stores the id of the art it's associated with. 
    Clicking one of the submit buttons sends that list of ids and the button's value - change or delete - to gui.py -->
{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="/modify_art">  
        <table>
            <tr>
                <th>ID</th>
                <th>Artwork Name</th>
                <th>Artist</th>
                <th>Price</th>
                <th>Availability</th>
            </tr>
            {% for art in art_list %}
                <tr>
                    <td>{{art.id}}</td>
                    <td>{{art.name}}</td>
                    <td>{{art.artist}}</td>
                    <td>${{art.price}}</td>
                    {% if art.available == True %}
                        <td>Available</td>
                    {% else %}
                        <td>Unavailable</td>
                    {% endif %}
                    <td> <input type="checkbox" value="{{art.id}}" name="selected"> </td>
                </tr>
            {% endfor %}
        </table>
        <button name="submit_button" value="delete" type="Submit"> Delete </button> <button value="change" name="submit_button" type="Submit"> Change Availability </button>
        <button name="submit_button" value="show_available" type="Submit"> Show Available </button> 
        <button name="submit_button" value="show_all" type="Submit">Show All</button>
    </form>
{% block add_art %}{% endblock add_art %}
{% endblock content %}  
